@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    line-height: 1.8;
    color: #5B5B5B;
    /*    padding-top: 70px;  Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
.navbar {
    border-bottom: 1px solid #EEE;
    margin-bottom: 0;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
    text-decoration: none;
}
a {
    text-decoration: none !important;
    color: #734595;
}
a:hover, a:focus {
    color: indigo;
    text-decoration: underline;
}

h2 a {
    color: #696969;
}

footer {
    padding: 15px 0;
    background-color: #f5f5f5;
}

footer p {
    margin: 0;
    font-size: 12px;
    color: #696969;
}
.sidebar {
    min-height: 20px;
    padding: 19px 19px 19px 0;
    margin-bottom: 20px;
    border-right: 1px solid #eee;
}
#code {
    border: 1px solid #eee;
    padding: 20px;
    margin: 20px 0px;
    line-height: 1.4em;
}
#code code {
    padding: 0;
    font-size: 80%;
    color: #000;
    background-color: #FFF !important;
    border-radius: 0;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}
 
.bs-callout-warning {
    background-color: #fefbed;
    border-color: #f1e7bc;
}
 
.bs-callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
}
 
.bs-callout-danger h4,
.bs-callout-danger a.alert-link {
    color: #B94A48;
}
 
.bs-callout-warning h4,
.bs-callout-warning a.alert-link {
    color: #C09853;
}
 
.bs-callout-info h4,
.bs-callout-info a.alert-link {
    color: #3A87AD;
}
 
.bs-callout a.alert-link {
    font-weight: bold;
}
pre {
    font-size: 11px;
    border: 0px;
    color: grey;
}

pre.code {
    font-size: 11px;
    color: #849671;
}

#sidebar .active {
    font-weight: bold;
    color: coral;
}
code{
    font-size: 80%;
}

#content > h4:before {
    content: "♟ ";
    color:#B94A48;
}
@media(max-width:768px) {
    .sidebar {
        border-right: none;
        background: indigo;
        padding-left: 30px;
    }

    .sidebar a {
        color: #FFF;
    }

    .sidebar h4 {
        color: plum;
        border-bottom: 1px dotted #734595;
        border-top: 1px dotted #734595;
        padding: 4px 0;
    }
}

.navbar-toggle .icon-bar {
    background: indigo;
}


/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {

    .container {
        overflow-x: hidden;
    }
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -50%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -60%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 60%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 60%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 60%; /* 6 columns */
    }
}